.contact {
	display: block;
	background: url('../img/img-2.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 60vh;
	position: relative;

	.contact-box {
		background: rgba(255, 255, 255, 0.692);
		display: block;
		position: absolute;
		width: 90%;
		height: auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 1em 1em;

		p {
			font-size: 0.8em;
			padding-bottom: 1em;
		}

		form {
			display: flex;
			flex-direction: column;
			input[type='text'],
			input[type='email'],
			textarea {
				margin: 0.5em 0;
				width: 80%;
				border: none;
				border-radius: 5px;
				padding: 0.5em 1em;
			}

			.container {
				display: block;
				position: relative;
				padding-left: 2em;
				margin-bottom: 1em;
				cursor: pointer;
				user-select: none;
			}

			/* Hide the browser's default checkbox */
			.container input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
				height: 0;
				width: 0;
			}

			/* Create a custom checkbox */
			.checkmark {
				position: absolute;
				top: 0;
				left: 0;
				height: 1.5em;
				width: 1.5em;
				background-color: #eee;
			}

			/* On mouse-over, add a grey background color */
			.container:hover input ~ .checkmark {
				background-color: #ccc;
			}

			/* When the checkbox is checked, add a blue background */
			.container input:checked ~ .checkmark {
				background-color: #2196f3;
			}

			/* Create the checkmark/indicator (hidden when not checked) */
			.checkmark:after {
				content: '';
				position: absolute;
				display: none;
			}

			/* Show the checkmark when checked */
			.container input:checked ~ .checkmark:after {
				display: block;
			}

			/* Style the checkmark/indicator */
			.container .checkmark:after {
				left: 9px;
				top: 5px;
				width: 5px;
				height: 10px;
				border: solid white;
				border-width: 0 3px 3px 0;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
		}
		button {
			width: 40%;
			padding: 0.5em;
			font-size: 1em;
			border: none;
			background: $btn-green-color;
			color: $light-color;
		}
		@include pc {
			width: 40%;
			left: 80%;
			top: 30%;
			transform: translate(-80%, -30%);
			padding: 3em;
		}
	}
	@media (min-width: 600px) {
		height: 100vh;
	}
}
